html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
  color: #333;
}

.header__title {}

.header__description {}
.main {
  text-align: center;
    color: black;
    font-style: Cambria Math;
}
.ul {
    color: brown;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}
.li {
  backgroundcolor: black;
}
.strong {
  textstyle: bold;
}
